<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Clients\Abo.Client.Core\packages.config" />
  <repository path="..\src\Clients\Android\Abo.Client.Android\packages.config" />
  <repository path="..\src\Clients\WP\Silverlight\Abo.Client.WindowsPhone\packages.config" />
  <repository path="..\src\Clients\WP\Silverlight\Abo.Client.WP.Silverlight\packages.config" />
  <repository path="..\src\Clients\Wpf\Abo.Client.Wpf\packages.config" />
  <repository path="..\src\Server\Abo.Server.ConsoleHost\packages.config" />
  <repository path="..\src\Tests\Server\Abo.Server.Infrastructure.Tests\packages.config" />
  <repository path="..\src\Tests\Server\Abo.Server.IntegrationTests\packages.config" />
  <repository path="..\src\Tools\Abo.Tools.CardManager\packages.config" />
</repositories>